{% extends "mails/base.twig" %}
{% block body %}
    <tr class="table-head-declined">
        <td colspan="2">
            <h2>Ваша ВКС #{{ vks.id }} аннулирована</h2>
        </td>
    </tr>
    <tr >
        <td width="30%">
            Параметр
        </td>
        <td>
            Значение
        </td>
    </tr>
    <tr>
        <td>Название</td>
        <td>{{ vks.title }}</td>
    </tr>
    <tr >
        <td>Администратор принявший решение</td>
        <td>
            {% if vks.approver is defined %}
                {{ vks.approver.login }}, тел.{{ vks.approver.phone }}
            {% else %}
                Аднистратор пока не назначен
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Комментарий пользователю</td>
        <td>
            {% if  vks.comment_for_user|length %}
                {{ vks.comment_for_user }}
            {% else %}
                -
            {% endif %}

        </td>
    </tr>
    <tr>
        <td>Дата/Время</td>
        <td>{{ vks.humanized.date }}, {{ vks.humanized.startTime }} - {{ vks.humanized.endTime }}</td>
    </tr>
    <tr >
        <td>Ответственный</td>
        <td>{{ vks.init_customer_fio }}, тел. {{ vks.init_customer_phone }}</td>
    </tr>
    <tr>
        <td>Подразделение</td>
        <td>{{ vks.department_rel.prefix }}. {{ vks.department_rel.name }}</td>
    </tr>
    <tr >
        <td>Участники
            {#<span class="badge">{{ vks.participants|length + vks.in_place_participants_count }}</span>#}
        </td>
        <td class="small-td">
            <ul>
                <li class="list-group-item">C рабочих мест (IP телефон, Lynс, CMA Desktop и
                    т.д.): {{ vks.in_place_participants_count }}</li>
                <li>Точки:

                    {% if  vks.participants|length %}
                        {% for parp in vks.participants %}
                            <ul>
                                <li class="list-group-item">{{ parp.full_path }}</li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        0
                    {% endif %}


                </li>


            </ul>
        </td>
    </tr>
    {#<tr >#}
        {#<td>Комментарий администратору:</td>#}
        {#<td>{{ vks.comment_for_admin }} </td>#}
    {#</tr>#}
    {#<tr >#}
        {#<td>Прямая ссылка на ВКС:</td>#}
        {#<td>{{ vks.link }}</td>#}
    {#</tr>#}
    {% if vks.other_tb_required is defined and vks.other_tb_required != 0 %}
        <tr>
            <td>Подключать другой ТБ/ЦА</td>
            <td>Да</td>
        </tr>
    {% endif %}
    <tr>
        <td>Владелец</td>
        <td>
            {% if  vks.owner %}
                {{ vks.owner.login }} ({{ vks.owner.fio }}, {{ vks.owner.phone }})
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
{% endblock %}