{% extends "mails/base.twig" %}
{% block body %}
    <tr class="table-head">
        <td colspan="2">
            <h2>Ваша ВКС #{{ vks.id }} успешно создана</h2>
        </td>
    </tr>
    <tr>
        <td width="30%">Название</td>
        <td>{{ vks.title }}</td>
    </tr>
    <tr  >
        <td>Вирт. комната (код подключения)</td>
        {% if vks.connection_codes is defined and vks.connection_codes|length %}
            <td>
                {% for code in vks.connection_codes %}
                    <p>
                <span class="code-connect-font">{{ code.value_raw }}
                    {% if  code.tip|length %}
                        ({{ code.tip }})
                    {% endif %}
                    </span>
                    </p>
                {% endfor %}
            </td>
        {% else %}
            <td><span class="code-connect-font">Код подключения не выдан или не требуется</span></td>
        {% endif %}
    </tr>

    <tr>
        <td>Администратор принявший решение</td>
        <td>
            {% if vks.approver is defined %}
                {{ vks.approver.login }}
                {% if vks.approver.phone|length %}, тел.{{ vks.approver.phone }}
                {% endif %}
            {% else %}
                Аднистратор пока не назначен
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Дата/Время | <a href="{{ appHttpPath }}?route=OutlookCalendarRequest/pushToStack/{{ vks.id }}/forced">Отправить в календарь Outlook</a></td>
        <td>{{ vks.humanized.date }}, {{ vks.humanized.startTime }} - {{ vks.humanized.endTime }}</td>
    </tr>
    <tr>
        <td>Ответственный</td>
        <td>{{ vks.init_customer_fio }}, тел. {{ vks.init_customer_phone }}</td>
    </tr>
    <tr>
        <td>Подразделение</td>
        <td>{{ vks.department_rel.prefix }}. {{ vks.department_rel.name }}</td>
    </tr>
    {% if vks.other_tb_required is defined and vks.other_tb_required != 0 %}
        <tr style="background-color: #FFC6A3; font-size: 20px;">
            <td>Подключать другой ТБ/ЦА</td>
            <td>Да</td>
        </tr>
    {% endif %}
    {% if vksCa %}
        <tr style="background-color: #FFC6A3; font-size: 20px;">
            <td>Ссылка-приглашение на ВКС<br><span style="color: #e82000  ;">Пожалуйста, перешлите эту ссылку в другие ТБ</span></td>
            <td>
                <b><a href='{{ http_path }}i.php?r={{ vksCa.referral }}'>{{ http_path }}i.php?r={{ vksCa.referral }}</a></b>
            </td>
        </tr>

    {% endif %}
    {#<tr  >#}
    {#<td>Инициатор:</td>#}
    {#<td>{{ vks.initiator_rel.name }}</td>#}
    {#</tr>#}
    <tr  >
        <td>Комментарий пользователю</td>
        <td>
            {% if  vks.comment_for_user|length %}
                {{ vks.comment_for_user }}
            {% else %}
                -
            {% endif %}

        </td>
    </tr>

    <tr>
        <td>Участники
            <span class="badge">{{ vks.participants|length + vks.in_place_participants_count }}</span>
        </td>
        <td class="small-td">
            <ul>
                {% if vksCa %}
                    <li class="list-group-item-text">Кол-во участников в ЦА: <span
                                class="label label-as-badge label-warning">{{ vksCa.ca_participants }}</span>
                    </li>
                    {% for parp in vksCa.participants %}
                        <li class="list-group-item-text">{{ parp.full_path }}</li>
                    {% endfor %}
                {% endif %}
                <li class="list-group-item">C рабочих мест (IP телефон, Lynс, CMA Desktop и
                    т.д.): {{ vks.in_place_participants_count }}</li>
                <li>Точки ВКС:
                    {% if  vks.participants|length %}
                        {% for parp in vks.participants %}
                            <ul>
                                <li class="list-group-item">{{ parp.full_path }}</li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        0
                    {% endif %}
                </li>
            </ul>
        </td>
    </tr>
    <tr  >
        <td>Комментарий администратору</td>
        <td>
            {% if  vks.comment_for_admin|length %}
                {{ vks.comment_for_admin }}
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Запись ВКС</td>
        <td>
            {% if  vks.record_required %}
                Да
            {% else %}
                Нет
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Владелец</td>
        <td>
            {% if  vks.owner %}
                {{ vks.owner.login }} ({{ vks.owner.fio }}, {{ vks.owner.phone }})
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
{% endblock %}